<!--
Name: Yuba Raj Khadka
Student Id: 18040483
Username: 18040483
Course Code: CSE4OAD
-->
<!DOCTYPE html >
<html>
<head>
	<meta charset="UTF-8">

	<style>
		table, th , td  {border: 1px solid grey; border-collapse: collapse; padding: 5pt;}
	</style>

	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src= "displayrecipe.js"></script>

</head>

<body ng-app="myApp" ng-controller="myController">

<h1>Recipe Collection </h1>
<hr>
<h2>Display recipe</h2>
Enter id : <input type="text" ng-model="id">
<button ng-click="display()"> Display </button><br>

<hr>
<form>
	<table >
		<tr>
			<td>id:{{recipe.id}}
			</td>
			
		</tr>
		<tr>
			<td>Name: {{recipe.name}}
			</td>
			
		
		</tr>
		<tr>
			<td>Serves:{{recipe.serves}}
			</td>
			
		</tr>
		<tr>
			<td>Ingredients:{{recipe.ingredients}}
			</td>
			
		</tr>
		<tr>
			<td>Remarks:{{recipe.remarks}}
			</td>
			
		</tr>
	</table>
	
	<br><br>
	steps:<br><br>
	<textarea rows="10" cols="50">{{recipe.steps}}</textarea><br><br>
	

		<button type="button" onclick="window.location.href='main.html'">
			Cancel/Return to Main Page</button> <br>
</form>


</body>
</html>

